.sec-1 {
  width: 100%;
}
.sec-1 h1 {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-left: 28%;
  margin-top: 3%;
}
.playlist-img {
  width: 100%;
  height: 600px;
  margin-top: 3%;
  border-radius: 20px;
}
.div-1 {
  padding-top: 5%;
  padding-left: 2%;
  border-bottom: 1px solid aqua;
  width: 100%;
  /* height: 150px; */
}
.music {
  width: 700px;
}
.music-img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
}
.left {
  display: inline-block;
  height: 100px;
  width: 290px;
}
.left h2 {
  font-size: 15px;
  display: inline-block;
  font-family: sans-serif;
  vertical-align: top;
  padding-top: 25px;
  padding-left: 60px;
}
.right {
  display: inline-block;
  vertical-align: top;
  margin-top: 18px;
  margin-left: 20px;
}
#delete_music{
  display: flex;
  text-decoration: none;
  margin-top: 1%;
  justify-content: end;
}
.row{
  display: flex;
  width: 88%;
}